!!!
%html
  %head
    %title Jim Rambow's Resume
    %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    / box div
    #wrap
      #resume
        / Centers heading
        %div{:align => "center"}
          %br/
          %h1 James E. Rambow, Jr
          %a{:href => "mailto:Jimrambow@gmail.com?Subject=Resume%20Contact"}
            %h3 Jimrambow@gmail.com
          %a{:href => "https://github.com/jimrambow"}
            %h3 https://github.com/jimrambow
          %h3 Cell: 843-412-9097
          %br/
          / end of centering
        / second row
        .clear
        / left cell
        .title
          %h2 About
        / right cell
        .info
          %p
            Ruby on Rails engineer seeking developer position where I can make a difference in my work for the world, and to further my knowledge in all languages of code. I have grown up in Charleston and was brought up to be a gentleman. My Food, Beverage, and Hospitality experiance brings a unique aspect to me. I have worked on all echelons of the business. I have served drinks to celebrities and poured wine for politicians. To serving beer to blue collar workers and dealing with high volume turnover. I manage myself very well, I can manage many processes and needs in my mind, making sure that these are fulfilled and done with a smile and to make these people happy that they came to see me. I have found that this helps me in life by being able to work with anyone, and also communicate to all levels of people with comfort, which not many people find easy to do.   
        / third row
        .clear
        / left cell
        .title
          %h2 Skills
        / right cell
        .skills
          %ul
            %li Ruby on Rails
            %li SQL (mysql/postgresql)
            %li HTML/CSS and Haml
            %li Javascript
            %li Time Management
            %li Java
            %li Angular
            %li Communication Skills
            %li Github
        .skills
          %ul
            %li Wireframing
            %li Bootstrapping
            %li Testing
            %li jQuery
            %li Multiple MVC's
            %li HTML and CSS
            %li Front end interaction
            %li Deployment
            %li Multiple Project Management
        .title
          %h2 Education
        / right cell
        .info
          %h3 The Iron Yard
          %ul
            %li 
              %strong Ruby on Rails Engineering 2014
          %ul
            %li
              %em Course Work Description:
            %ul
              %li Helping us learn to think like engineer's and tackle problems by thinking differently. Gaining enough knowledge to begin learning new languages quickly afterwards. Mastering use of Github. Rails Fundamentals: generators, structure, migrations, Active Record, controllers, Active Helper, Asset Pipeline. Strong design fundamentals in layout, typography, user experience. DOM manipulation to non-DOM methods to chaining, and callbacks. HTML and CSS foundations and the SCSS preprocessor included in the Ruby on Rails toolkit. JS fundamentals covering types, functions, objects, scope, and closures. Utilization of  Heroku to launch your production ready application.
            %br
          %h3 Trident Technical College
          %ul
            %li 
              %strong Associates of Network Systems Management
          %ul
            %li 
              %em Course Work Description: 
            %ul 
              %li Network systems managers design, implement, secure and manage business networks. Specific jobs in this career field include help desk and PC support, network administrator, network manager, network designer, network engineer, system administrator, routing and switching specialist, Linux/UNIX system administrator or network security specialist.
        / third row
        .clear
        / left cell
        / fourth row
        .clear
        / left cell
        .title
          %h2 Work Experience
        / right cell
        .info
          %h3 Server/Bar Back - Shelter Kitchen + Bar (February 2013 – July 2014)
          %ul
            %li Working in an extremely fast paced environment and also very tight quarters. Watching the patrons, making sure they are having a good time. Ensuring that drinks were delivered on time, food was hot and correct, condiments and other neccessities are on the table before the food hits the table, and keep and eye on the patrons to make sure that I do not over serve, and that they do not walk out on me. 
          %ul
            %li Maintain and entertain many large parties (Sections of 5 tables with 8 seats a piece), while also running food, maintaining sanitation, and going out of the way to show true hospitality.
            %li Ensured the bar was stocked and coolers were rotated to ensure freshness and keep productivity high. Also rotated kegs for freshness and best beer variety for the season 
          %h3 Bartender/Server - The Old Village Post House (October 2011 - January 2013)
          %ul
            %li Held head Mixologist position and was responsible for making daily creations with self made infused liquors. Made extensive wine pairing observations and made sure wine stock was always ordered, rotated, and checked when delivered. 
            %li Provided entertainment and drinks to walk in patrons as well as people waiting for tables while also maintaining drink orders for the restuarant. 
            %li Worked many private dinning settings; weddings, birthdays, business meetings, corporate parties, as well as planned 5 and 7 course dinners.
            %li As server at The Old Village Post House, I held the utmost standards for my service, from proper pouring of wine, making sure to serve from the proper side for specific items, and even using a crumb scraper, for the added flair of course.
    
          %h3 Associate at Trader Joes (January 2011- December 2011)
          %ul
            %li Provided customer service at checkout counters, helped people with their bags, helped locate items, and assisted with those who needed it at any time.
            %li Took pride in the fact that I looked after 1/3 of the total wine order for our store (over 1200 cases every 3 days)
            %li Utilized my skills as an artist at this store with their creative marketing skills of using hand made labels for every item. Allowed me to label and market the wines I wanted to prioritize and sell for the highest profit per bottle.
            %li Worked a sampling station where Trader Joes would take their new products and give them out to customers. While doing this had to maintain highest levels of sanitation, and keeping fresh product going into customer hands. 
            %li Learned how to use an electric forklift and was responsible for unloading the wine order, as well as organize it to where the other deliveries can be processed and organized.
          %h3 Pizza and Gyro Relocation Specialist At N.Y.P.D. Pizza (Now Matt's Pizza Department) (June 2009 - January 2011)
          %ul
            %li
              Made my number one responsibility getting your food to you making sure that it is: HOT, on your doorstep with everything perfect and nothing missing. No one wants pizza and a soda, without thier soda.
            %li
              Prepped food in the downtime between deliveries including: making fresh dough for the next days, grating cheese by the 50 pound bag, stocking sodas and making desserts (cannolis and fresh cakes). 
            %li
              Was responsible for keeping track of my money for the night if I needed gas and was making mostly credit card tips, I had to keep a bank on me and make sure I had extra money on slow days where I would possibly lose money on deliveries. 
        / end right
        .clear